<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927542335283-fvcnen5vdccihcod5kvtpdovfh2mrcr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927542335283-fvcnen5vdccihcod5kvtpdovfh2mrcr3</string>
	<key>API_KEY</key>
	<string>AIzaSyC4y6_9g9cwfd3XBGxj3IBoAH5m2Evw2QY</string>
	<key>GCM_SENDER_ID</key>
	<string>927542335283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectLamplight.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-lamplight-a1a40</string>
	<key>STORAGE_BUCKET</key>
	<string>project-lamplight-a1a40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927542335283:ios:4f767dd62846bd124c5046</string>
</dict>
</plist>